
<footer class="py-3 my-4">
  <p class="text-center text-muted">©<%- new Date().getYear() %> - Scott Daly, Inc</p>
</footer>
<script
  src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"
></script>
</body>

</html>