body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}

main {
  text-align: center;
  flex: 1 0 auto;
}

.header-box {
  padding: 16px 32px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.line {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.inputer {
  display: inline-flex;
  flex: auto;
  border-radius: 6px;
  border: 1px solid #b1b1b1;
  padding: 8px 16px;
}

ul {
  text-align: left;
}

.buttoner {
  display: inline-flex;
  flex: 1;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
